nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
}
.logo{
  font-size: 30px;
  font-weight: bold;
  background-color: #007bff;
}
.nav-links{
  display: flex;
  align-items: center;
  background-color: #007bff;
}
.nav-links ul{
  display: flex;
  align-items: center;
  background-color: #007bff;
}
.nav-links ul li{
  list-style-type: none;
  padding: 0px 20px;
  background-color: #007bff;
}
.noUnderline{
  text-decoration: none;
  color: #FFF;
}

.nav-links button{
    background-color: rgb(45, 132, 65);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    border:  none;
}
